.container{
  display: grid;
  grid-template-columns: auto auto auto;
}

.user{
  background-color: #333;
  border-radius: 10px;
  width: 300px;
  padding: 1rem;
  margin: 5px; 
  color: #fff;
}
.user div{
  padding: 4px;
}
.name{
  font-size: 2rem;
}

.grey {
  color: grey;
  padding-right: 10px;
}


.address{
  margin-right: 5px;
  font-size: smaller;
}
.form{
  width: 100px;
}
.form label{
margin-top: 10px;
}
